main {
  margin-top: 5rem;
}
.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.cards .card {
  border-radius: 5px;
}
.cards .card .face {
  width: 300px;
  height: 200px;
  transition: 1s;
}
.cards .card .face.face1 {
  position: relative;
  background-color: #b1e5bc;
  /* transform: translateY(0px); */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
.cards .card .face.face1 h2 {
  /* font-size: 1.5em; */
  text-align: center;
}
.cards .card .face.face1 p {
  color: #2c2c2c;
  padding: 1em;
}

.cards .card:hover .face.face2 {
  background-color: #b1e5bc;
  transform: rotateY(0);
}
.cards .card .face.face2 {
  position: relative;
  background-color: #b1e5bc;
  transform: translateY(-200px);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
}
.cards .card:hover .face.face2 {
  transform: translateY(-25px);
}
.cards .card .face.face2 .content ul {
  list-style: none;
}
.cards .card .face.face2 .content a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  padding: 5px;
}
.cards .card .face.face2 .content a:hover {
  background: #10a45d;
  color: #fff;
}
